/* Seção Sobre */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.about h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    max-width: 800px;
    text-align: justify;
    hyphens: auto;
}

.about img {
    width: 500px;
    margin-left: 30px;
    border-radius: 5px;
}