/* Seção Mudanças Climáticas */
.mudancas-climaticas {
  padding: 15vh 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.mudancas-climaticas h1 {
  color: #046245;
  font-size: 2.5em; 
  font-weight: 700;
  margin-bottom: 2em; 
  text-align: center;
}

.mudancas-climaticas h2 {
  font-size: 1.5em; 
  font-weight: 300;
}

.mudancas-climaticas p {
  font-size: 1em; 
  margin-bottom: 1em; 
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 768px) {
  .mudancas-climaticas {
    padding: 15vh 3%; 
  }

  .mudancas-climaticas h1 {
    font-size: 2em; 
  }

  .mudancas-climaticas h2 {
    font-size: 1.5rem;
  }

  .mudancas-climaticas p {
    font-size: 0.9em; 
  }
}

@media (max-width: 480px) {
  .mudancas-climaticas {
    padding: 15vh 2%; 
  }

  .mudancas-climaticas h1 {
    font-size: 1.5rem; 
  }

  .mudancas-climaticas h2 {
    font-size: 1.3rem; 
  }

  .mudancas-climaticas p {
    font-size: 0.8rem; 
  }
}
