/* Seção Hero */
.hero {
  position: relative;
  height: 840px;
  background-image: url("../images/hero-background.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 80px;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4.5rem 5.9rem;
}

.hero h1 {
  color: #046245;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.hero .cta-btn-report {
  background-color: #046245;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero .cta-btn-report:hover {
  background-color: #038a62;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero {
    background-image: none;
    height: auto;
    margin-top: 40px;
  }

  .hero-content {
    padding: 20px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero .cta-btn-report {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 30px; 
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero .cta-btn-report {
    font-size: 14px; 
  }
}

