/* Seção Informativos */
.info {
  padding: 3.75rem 6.25rem; 
  text-align: center;
}

.info h2 {
  font-size: 2.5rem; 
  font-weight: 700;
  margin-bottom: 2.5rem; 
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  margin-top: 2.5rem; 
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 1.25rem;
  width: 18.75rem; 
  height: 15.625rem; 
  border-radius: 1.875rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1.25rem; 
}

.card h3 {
  font-size: 1.5rem; 
  font-weight: 300;
  margin-bottom: 0.625rem; 
}

.card p {
  font-size: 1em; 
  text-align: justify;
  hyphens: auto;
}

.card a {
  background-color: #046245;
  color: #ffffff;
  padding: 0.625rem 1.25rem; 
  border-radius: 1.875rem; 
  text-decoration: none;
  font-size: 1rem; 
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card a:hover {
  background-color: #038a62;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .info {
    padding: 2rem; 
  }

  .info h2 {
    font-size: 1.875rem; 
  }

  .cards {
    flex-direction: column; 
    align-items: center; 
  }

  .card {
    width: 90%; 
    height: auto; 
    margin: 0.5rem;
  }
}