/* Estilos da Seção Leis Ambientais */
.leis-ambientais {
  padding: 120px 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.leis-ambientais h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.leis-ambientais h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.leis-ambientais p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
  hyphens: auto;
}
