.messages-container {
  max-width: 600px;
  margin: auto;
  margin-top: 200px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.message-item {
  padding: 1em;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 8px;
}

.message-item:last-child {
  border-bottom: none;
}

.message-item p {
  margin: 0.5em 0;
}

.message-item button {
  background-color: #046245;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-item button:hover {
  background-color: #034d3f;
}

.messages-container {
  max-width: 1200px; /* Aumente a largura máxima se necessário */
  margin: auto;
  margin-top: 200px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.messages-layout {
  display: flex; /* Cria um layout flexível */
  justify-content: space-between; /* Espaça os filhos uniformemente */
}

.messages-list {
  flex: 1; /* Permite que a lista de mensagens ocupe mais espaço */
  margin-right: 20px; /* Espaço entre a lista e os detalhes */
}

.message-details {
  flex: 2; /* Permite que a área de detalhes ocupe mais espaço */
  margin-top: 0; /* Remove a margem superior */
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

/* Restante do CSS que você já possui */


.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}

.toast.success {
  background-color: #038a62;
}

.toast.error {
  background-color: #f44336;
}

.toast.fade-out {
  opacity: 0;
}

.message-details {
  margin-top: 20px;
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.message-details h3 {
  margin-top: 0;
}


@media (max-width: 768px) {
  .messages-container {
    padding: 0.5em; 
  }

  .message-item {
    padding: 0.75em; 
  }

  .message-item button {
    width: 100%; 
    margin-top: 0.5em; 
  }
}
