/* Seção Profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 157px);
  box-sizing: border-box;
}

.profile-header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 110px;
  margin-bottom: 2.5rem; 
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  max-width: 900px;
}

.profile h3 {
  font-size: 1.5rem;
  color: #046245;
}

.user-profile-icon {
  color: #046245;
  font-size: 3em;
}

.username {
  color: #046245;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

.edit-profile-btn,
.reporting-btn {
  background-color: #046245;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-profile-btn:hover,
.reporting-btn:hover {
  background-color: #038a62;
  transform: scale(1.05);
}

.counters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.counter {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.counter i {
  margin-right: 10px;
  color: #046245;
}

.no-reports {
  font-size: 1.5em;
}

.no-reports i {
  color: #046245;
  margin-right: 5px;
}

.card {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  width: 100%;
  max-width: 49.5rem;
  max-height: 39.5rem;
  border-radius: 1.875rem;
  margin: 1.25rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between; 
  margin-top: 0;
}

.profile-icon {
  color: #046245;
  font-size: 1.5rem;
}

.timestamp {
  margin-left: auto; 
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.expandable-text {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.expandable-text.expanded {
  white-space: normal;
  overflow: visible;
  hyphens: auto;
  padding: 5px;
}

.read-more {
  color: #046245;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

.card p {
  display: inline-flex;
  align-items: baseline;
  margin: 0;
  margin-bottom: 0.5em;
  flex-wrap: nowrap;
}

.card p strong {
  margin-right: 0.5rem;
}

.card p span {
  white-space: nowrap;
}

.card p span.read-more {
  display: none;
}

.card p span.read-more.show {
  display: inline;
  margin-left: 0;
}

.image-container {
  margin-top: 1rem;
  width: 100%; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 0.9375rem;
}

.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.delete-icon {
  cursor: pointer;
  color: #620404;
  font-size: 1rem;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-icon:hover {
  color: #8a0303;
  transform: scale(1.05);
}

/* Modal de confirmação */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.modal-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #620404;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  cursor: pointer;
  width: 35%;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background-color: #8a0303;
  transform: scale(1.05);
}

.cancel-button {
  background-color: #046245;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 10px;
  cursor: pointer;
  width: 35%;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel-button:hover {
  background-color: #038a62;
  transform: scale(1.05);
}

.edit-icon {
  cursor: pointer;
  color: #046245;
  font-size: 1rem;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-icon:hover {
  color: #038a62;
  transform: scale(1.05);
}

/* modal de edição */

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal.hidden {
  display: none;
}

.edit-modal-content {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 40px auto 60px auto;
  padding: 1.25rem;
  border-radius: 1.875rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-report-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: auto auto auto auto;
}

.edit-report-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.edit-report-form input[type="text"],
.edit-report-form input[type="file"],
.edit-report-form select,
.edit-report-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cccccc;
  border-radius: 1.875rem;
  font-size: 1rem;
}

.edit-report-form textarea {
  resize: vertical;
  height: 120px;
}

.edit-report-form input:focus,
.edit-report-form select:focus,
.edit-report-form textarea:focus {
  border-color: #046245;
  outline: none;
}

.edit-submit-btn {
  background-color: #046245;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-submit-btn:hover {
  background-color: #038a62;
  transform: scale(1.05);
}

.edit-cancel-button {
  background-color: #620404;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-cancel-button:hover {
  background-color: #8a0303;
  transform: scale(1.05);
}

.edit-modal h2 {
  color: #046245;
  font-size: 2.5rem;
  font-weight: 700;
}

.edit-modal h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .profile-icon {
    font-size: 15vw; 
  }
  
  .username {
    font-size: 6vw; 
  }
  
  .edit-profile-btn {
    font-size: 1.2rem; 
  }

  .counters {
    flex-direction: column; 
    align-items: center; 
  }
  
  .counter {
    font-size: 1.2em; 
  }
}

@media (max-width: 480px) {
  .edit-profile-btn {
    padding: 0.4rem 0.8rem; 
  }

  .username {
    font-size: 8vw; 
  }
}