/* Seção de Denúncias */
.reports {
  display: flex;
  flex-direction: column;
  padding: 15vh 5% 0vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.reports h2 {
  color: #046245;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.reports h3 {
  font-size: 1.5rem;
  color: #046245;
}

.card {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  width: 100%;
  max-width: 49.5rem;
  border-radius: 1.875rem;
  margin: 1.25rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between; 
  margin-top: 0;
}

.profile-icon {
  color: #046245;
  font-size: 1.5rem;
}

.timestamp {
  margin-left: auto; 
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.expandable-text {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.expandable-text.expanded {
  white-space: normal;
  overflow: visible;
  hyphens: auto;
}

.read-more {
  color: #046245;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

.card p {
  display: inline-flex;
  align-items: baseline;
  margin: 0;
  margin-bottom: 0.5em;
  flex-wrap: nowrap;
}

.card p strong {
  margin-right: 0.5rem;
}

.card p span {
  white-space: nowrap;
}

.card p span.read-more {
  display: none;
}

.card p span.read-more.show {
  display: inline;
  margin-left: 0;
}

.image-container {
  margin-top: 1rem;
  width: 100%; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 0.9375rem;
}

.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}