/* Seção Depoimentos */
.testimonials {
    padding: 60px 100px;
    text-align: center;
}

.testimonials h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonial {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: left;
}

.testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}

.testimonial p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    flex-grow: 1;
    text-align: left;
}