/* Seção Depoimentos */
.testimonials {
  padding: 4rem 6.25rem;
  text-align: center;
}

.testimonials h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem; 
}

.testimonial {
  background-color: #f7f7f7;
  border-radius: 1.875rem; 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1.25rem auto; 
  max-width: 800px;
  padding: 0.625rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.testimonial i {
  font-size: 3.125rem;
  color: #046245; 
  margin: 0.625rem 1.25rem 0 0.625rem; 
  flex-shrink: 0;
}

.testimonial-text {
  flex-grow: 1;
}

.testimonial q {
  font-size: 1.125rem; 
  margin: 0;
  text-align: left;
}

.user-name {
  display: block;
  margin-top: 0.625rem; 
  font-size: 1rem; 
  font-weight: 600;
  text-align: left;
}

@media (max-width: 768px) {
  .testimonials {
    padding: 3rem 2rem; 
  }

  .testimonials h2 {
    font-size: 1.875rem; 
  }

  .testimonial {
    padding: 0.5rem; 
  }

  .testimonial i {
    font-size: 2.5rem; 
  }

  .testimonial q {
    font-size: 1rem; 
  }

  .user-name {
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  .testimonials {
    padding: 2rem 1rem; 
  }

  .testimonials h2 {
    font-size: 1.5rem; 
  }

  .testimonial {
    padding: 0.5rem; 
  }

  .testimonial i {
    font-size: 2rem;
  }

  .testimonial q {
    font-size: 0.875rem; 
  }

  .user-name {
    font-size: 0.75rem; 
  }
}
