/* Estilo da linha do tempo */
.ecoar-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vh 5%; 
  text-align: center;
}

.ecoar-timeline-title {
  color: #046245;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.25rem; 
}

.ecoar-timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #046245;
  top: 150px;
  bottom: 0;
  height: 1000px;
  left: 50%;
  margin-left: -3px;
}

.ecoar-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.ecoar-container .ecoar-icon {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  font-size: 25px;
  color: #046245;
  z-index: 1;
}

.ecoar-container.left .ecoar-icon {
  right: 5px;
}

.ecoar-container.right .ecoar-icon {
  left: 5px; 
}

.ecoar-container.left {
  left: 0;
}

.ecoar-container.right {
  left: 50%;
}

.ecoar-content {
  padding: 20px 40px;
  background-color: #f7f7f7;
  position: relative;
  border-radius: 1.875rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ecoar-container.left .ecoar-content {
  padding-left: 40px;
}

.ecoar-container.right .ecoar-content {
  padding-right: 40px;
}

@media screen and (max-width: 600px) {
  .ecoar-timeline::after {
    left: 31px;
  }
  
  .ecoar-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .ecoar-container.right {
    left: 0%;
  }
  
  .ecoar-icon {
    left: 30px;
    transform: none;
  }
  
  .ecoar-content {
    padding-left: 70px;
  }
}
