/* Seção Voluntariado Ambiental */
.voluntariado-ambiental {
  padding: 15vh 5% 5vh; 
  max-width: 1200px;
  margin: 0 auto;
}

.voluntariado-ambiental h1 {
  color: #046245;
  font-size: 2.5em; 
  font-weight: 700;
  margin-bottom: 2.5rem; 
  margin-top: 0px;
  text-align: center;
}

.voluntariado-ambiental h2 {
  font-size: 1.5em; 
  font-weight: 300;
}

.voluntariado-ambiental p {
  font-size: 1em; 
  margin-bottom: 1em; 
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 768px) {
  .voluntariado-ambiental {
    padding: 15vh 3%; 
  }

  .voluntariado-ambiental h1 {
    font-size: 2em; 
  }

  .voluntariado-ambiental h2 {
    font-size: 1.5rem;
  }

  .voluntariado-ambiental p {
    font-size: 0.9em; 
  }
}

@media (max-width: 480px) {
  .voluntariado-ambiental {
    padding: 15vh 2%; 
  }

  .voluntariado-ambiental h1 {
    font-size: 1.5rem; 
  }

  .voluntariado-ambiental h2 {
    font-size: 1.3rem; 
  }

  .voluntariado-ambiental p {
    font-size: 0.8rem; 
  }
}
